{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "node": true,
        "browser": true,
        "es6": true
    }, 
    "rules": {
        "comma-dangle": [
            "error", 
            "always-multiline"
        ],
        "no-unused-vars": [
            "warn",
            {
                "vars": "local",
                "args": "none"
            }
        ],
        "react/jsx-filename-extension": 0,
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-multiple-empty-lines":[
            "error",
            {
                "max": 2
            }
        ],
        "no-empty": [
            "error",
            {
                "allowEmptyCatch": true
            }
        ],
        "react/display-name": [
            "off",
            {
                "ignoreTranspilerName": false
            }
        ]
    }
}